.posts {
  min-height: 80vh;
  justify-content: center;
  padding-top: 0;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 5vh;
  }

  &_post {
    width: 100%;
    display: flex;

    @media (max-width: $breakpoint-tablet) {
      padding: 50px 10px;
      width: 290px;
    }

    .post_img {
      position: relative;
      overflow: hidden;

      .marco {
        position: relative;
        z-index: 5;
        height: 250px;
        width: 100%;
        object-fit: cover;

        @media (max-width: $breakpoint-tablet) {
          height: 180px;
        }
      }

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0px auto;
        display: block;
        height: 250px;
        object-fit: cover;

        @media (max-width: $breakpoint-tablet) {
          height: 180px;
        }
      }
    }

    .post_info {
      background: #e66df2;
      padding: 30px;
      font-weight: 600;

      strong,
      p {
        color: #241f20;
      }

      @media (max-width: $breakpoint-tablet) {
        padding: 20px;
        font-size: 13px;
      }
    }

    .post_button {
      padding-top: 20px;

      a {
        border: 1px solid $black;
        padding: 10px 100px 10px 20px;
        font-weight: 300;
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
