.galeria {
  background: $black;

  &_texto {
    width: 90%;
    max-width: 1200px;
    padding: 50px 120px;
  }

  &_contenedor {
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;

    img {
      width: 25%;
      height: 350px;
      object-fit: cover;
      cursor: pointer;
    //   padding: 0 10px;
    }

    img:nth-child(5n) {
      width: 50%;
    }

    @media (max-width: $breakpoint-mobile) {
      img {
        width: 100%;
        padding: 0;
        height: initial;
      }

      img:nth-child(5n) {
        width: 100%;
      }
    }

    // img:nth-child(3n){
    //     transform: translate(15px, 25px);
    //     width: 300px;
    // }

    // img:nth-child(10n){
    //     transform: translate(-12px, -15px);
    //     width: 350px;
    // }
  }

  &_modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;

    .cerrar {
      position: fixed;
      color: white;
      top: 10%;
      right: 10%;
      font-size: 50px;
      cursor: pointer;
    }

    img {
      width: 90%;
      max-width: 700px;
    }
  }
}

.show_modal {
  visibility: visible;
  opacity: 1;
}
