.experience {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &_title {
    width: 100%;
    height: 180px;
    flex: 0 0 auto;
    padding: 0px 20px;
    color: $black;
    @extend .flex-center;
    align-items: start;
    background-color: #a14761;
    flex-direction: column;
    color: $white;
    h1 {
      font-size: 40px;
      span {
        font-weight: 300;
      }
    }
    .hidden {
    }
  }
  &_content {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    background-color: $pink;
    &_container {
      display: flex;
      height: 100%;
    }
    &_left,
    &_right {
      height: 100%;
    }
    &_left {
      width: 40%;
      color: $white;
      padding: 0 120px;
      font-size: 32px;
      font-family: "BaskervilleRegular";
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    &_right {
      width: 60%;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &_item {
    &_image {
      img {
        display: block;
        width: 100%;
      }
    }
    &_content {
      color: $black;
      padding: 40px 30px;
      background-color: $white;
      .title {
        margin-top: 10px;
        font-size: 40px;
      }
      .description {
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: $breakpoint-laptop) {
    &_content {
      &_left {
        padding: 0 40px;
      }
    }
  }

  @media (max-width: 1000px) {
    &_content {
      &_left {
        font-size: 30px;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    height: unset;
    &_title {
      height: unset;
      transition: 0.3s ease-in-out;
      padding: 60px 20px 60px 20px;
      h1 {
        font: normal normal bold 40px/80px;
        padding-bottom: 20px;
      }
    }

    .experience_content_left {
      display: none;
    }

    .experience_content_right {
      width: 100%;
    }
  }
  
@media (min-width: 999px) {
  .experience_title {
    display: none;
  }
}

}
.desktop-hide {
  display: none;
  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
}
.mobile-hide {
  display: unset;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}
