.menu-opener {
    top: 10px;
    right: 10px;
    z-index: 101;
    width: 300px;
    height: 100px;
    position: fixed;
    cursor: pointer;
    
    #Line_12, #Line_13{
        stroke: $white
    }

    @media (max-width: $breakpoint-tablet){
        width: 180px;
        top: 0;
    }
    svg {
        width: 100%;
        height: 100%;
    }

    text {
        font-size: 25px;
        font-family: Maison Neue Light;
    }
    circle {
        @extend .transition;
        fill: $purple;
    }

    &:hover {
        circle {
            fill: $white;
        }
        #logo-svg {
            color: $black;
        }

        #Line_12, #Line_13{
            stroke: $black;
        }
    }
}

#logo-svg {
    width: 10px;
    height: auto;
    color: $white;
}

.menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $aqua;
    z-index: 100;
    transition: 0.5s all;
    opacity: 0;
    visibility: hidden;

    .imagen_menu_web{
        position: absolute;
        width: 80%;
        bottom: 5%;
        right: 10%;
    }

    &-items{
        position: relative;
        width: 50%;
        border-right: 2px solid $white;

        @media (max-width: $breakpoint-tablet){
            width: 90%;
            border: none;
        }
        &-list{
            padding-top: 150px; 
            padding-left: 100px;

            @media (max-width: $breakpoint-tablet){
                padding-left: 20px;
            }

            a{
                display: inline-block;
                color: $white;
                font-size: 35px;
                font-weight: 300;
                padding-bottom: 15px;
                transition: 0.5s all;

                &:hover{
                    text-decoration: underline;
                }

                @media (max-width: $breakpoint-tablet){
                    font-size: 25px;
                }
            }
        }
    }

    &-images{
        width: 50%;
        position: relative;
        img{
            width: 100%;
        }
        @media (max-width: $breakpoint-tablet){
            display: none;
        }

       
    }

    .white-search{
        padding-left: 100px;
        position: absolute;
        bottom: 10%;
        width: 90%;

        @media (max-width: $breakpoint-tablet){
            padding-left: 20px;
        }

        input {
            color: $white;
            border-color: $white;

            &::placeholder{
                color: $white;
            }
        }
    }

    .logo_feria{
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 4%;
        max-width: 50px;
    }
}

.show-menu{
    opacity: 1;
    visibility: visible;
  }