@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes to-orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(-80px);
    }
}

@keyframes bounce-vassar {
    0% {
        transform: translate(110%, 0%) rotate(90deg);
    }
    100% {
        transform: translate(110%, 50%) rotate(90deg);
    }
}