
$red-darker: #FF4438;
$green-darker: #4C9C2E;
$green: #6D9B11;

$black: #241F20;
$red: #FF004F;
$purple: #8A1A9B;
$orange: #FF4D00;
$blue: rgb(64, 64, 255);
$aqua: #3DD3F7;
$yellow: #FFAA00;
$pink: #FF4438;
$white: #BBB3A1;

$blackLight: #241F208e;

$breakpoint-laptop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;

.home_fixedButton{
  position: fixed;
  z-index: 50;
  padding: 10px;
  background: #C7A2FF;
  border: 1px solid black;
  border-radius: 65px;
  bottom: 2%;
  right: 3%;
  font-weight: 600;
  transition: 0.5s all;
  &:hover{
    background-color: #BBB3A1;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $black;
}

b{
  font-family: "Helvetica Pro Bold";
}

body {
  max-width: 100vw;
  overflow-x: hidden !important;
  font-family: "Helvetica";
  color: #241F20;
}

.noScroll{
  overflow: hidden !important;
}

.flex {
  display: flex;
}

strong{
  font-family: "Helvetica Pro Bold";

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
