@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.eot"),
    url("../assets/fonts/Helvetica.woff2") format("woff2"),
    url("../assets/fonts/Helvetica.woff") format("woff"),
    url("../assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Pro Bold";
  src: url("../assets/fonts/HelveticaLTPro-Bold.eot"),
    url("../assets/fonts/HelveticaLTPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/HelveticaLTPro-Bold.woff") format("woff"),
    url("../assets/fonts/HelveticaLTPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Text Italic";
  src: url("../assets/fonts/LibreCaslonText-Italic.eot"),
    url("../assets/fonts/LibreCaslonText-Italic.woff2") format("woff2"),
    url("../assets/fonts/LibreCaslonText-Italic.woff") format("woff"),
    url("../assets/fonts/LibreCaslonText-Italic.ttf") format("truetype");
}


.libre_font{
  font-family: "Libre Text Italic";
  font-weight: 300;
}